{% extends 'base.html' %} {% block content %} {% load static %}
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<link rel="stylesheet" href="{% static 'styles/interventions.css' %}" />
<script
  type="text/javascript"
  src="{% static 'js/interventions.js' %}"
></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<div
  class="bg-black min-h-screen mt-32 flex flex-col justify-center items-center p-4"
>
  <h2 class="text-6xl text-center text-white font-thin mb-4">
    Carte des Interventions
  </h2>
  <div class="w-full max-w-6xl mx-auto">
    <div class="flex justify-between items-center mb-6">
      <button
        class="reset-button white-black-border-animated mb-6"
        onclick="resetMapView()"
      >
        Reinitialiser la carte
      </button>
      <button
        class="reset-button white-black-border-animated mb-6"
        onclick="openAddInterventionModal()"
      >
        Ajouter une intervention
      </button>
    </div>
    <div class="flex justify-between items-center mb-6">
      <div id="map" class="bg-white p-6 rounded-lg shadow-lg w-full"></div>
    </div>
  </div>
  <div class="w-full max-w-6xl mx-auto bg-white p-6 rounded-lg shadow-lg">
    <h2 class="text-2xl text-center font-semibold mb-4 text-gray-800">
      Table des Interventions
    </h2>
    <div class="overflow-x-auto">
      <table
        id="interventions-table"
        class="min-w-full divide-y divide-gray-200"
      >
        <thead class="bg-gray-50">
          <tr>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider sortable"
              onclick="sortTable(0)"
            >
              Adresse
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider sortable"
              onclick="sortTable(1)"
            >
              Type d'intervention
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider sortable"
              onclick="sortTable(2)"
            >
              Précision de l'intervention
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider sortable"
              onclick="sortTable(3)"
            >
              Statut de l'intervention
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider sortable"
              onclick="sortTable(4)"
            >
              Date de l'intervention
            </th>
          </tr>
        </thead>
        <tbody
          id="interventions-body"
          class="bg-white divide-y divide-gray-200"
        >
          <!-- Rows will be added dynamically -->
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="loading-indicator" class="loading-indicator">
  Récupération des interventions en cours...
</div>

<!-- Modal for updating intervention status -->
<div id="intervention-modal" class="hidden fixed z-10 inset-0 overflow-y-auto">
  <div
    class="flex items-center justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:block sm:p-0"
  >
    <div class="fixed inset-0 transition-opacity" aria-hidden="true">
      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    </div>
    <span
      class="hidden sm:inline-block sm:align-middle sm:h-screen"
      aria-hidden="true"
      >&#8203;</span
    >
    <div
      class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
    >
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div
            class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10"
          >
            <!-- Icon -->
          </div>
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3
              class="text-lg leading-6 font-medium text-gray-900"
              id="modal-title"
            >
              Mettre à jour le statut de l'intervention
            </h3>
            <div class="mt-2" id="modal-selection">
              <div id="modal-content"></div>
            </div>
            <div class="mt-2 hidden" id="modal-update">
              <p class="text-sm text-gray-500">
                <span id="modal-address-update"></span>
              </p>
              <p class="text-sm text-gray-500"><span id="modal-type"></span></p>
              <p class="text-sm text-gray-500">
                <span id="modal-precision"></span>
              </p>
              <label
                for="modal-status"
                class="block text-sm font-medium text-gray-700"
                >Nouveau statut</label
              >
              <select
                id="modal-status"
                name="status"
                class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
              >
                <option value="En cours">En cours</option>
                <option value="Complété">Complété</option>
                <option value="Annulé">Annulé</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <button
          type="button"
          class="white-black-border-animated inline-flex w-full justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm"
          onclick="updateStatus()"
        >
          Mettre à jour
        </button>
        <button
          type="button"
          class="mt-3 white-black-border-animated inline-flex w-full justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:w-auto sm:text-sm"
          onclick="closeModal()"
        >
          Annuler
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for adding intervention -->
<div
  id="add-intervention-modal"
  class="hidden fixed z-10 inset-0 overflow-y-auto"
>
  <div
    class="flex items-center justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:block sm:p-0"
  >
    <div class="fixed inset-0 transition-opacity" aria-hidden="true">
      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    </div>
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen"
      >&#8203;</span
    >
    <div
      class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
    >
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div
            class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-green-100 sm:mx-0 sm:h-10 sm:w-10"
          >
            <!-- Icon -->
          </div>
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3
              class="text-lg leading-6 font-medium text-gray-900"
              id="modal-title"
            >
              Ajouter une intervention
            </h3>
            <div class="mt-2">
              <form id="add-intervention-form">
                <div class="mb-4">
                  <label
                    for="Adresse"
                    class="block text-sm font-medium text-gray-700"
                    >Adresse</label
                  >
                  <input
                    type="text"
                    id="Adresse"
                    name="Adresse"
                    class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
                  />
                </div>
                <div class="mb-4">
                  <label
                    for="Type d'intervention"
                    class="block text-sm font-medium text-gray-700"
                    >Type d'intervention</label
                  >
                  <input
                    type="text"
                    id="Type d'intervention"
                    name="Type d'intervention"
                    class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
                  />
                </div>
                <div class="mb-4">
                  <label
                    for="Précision de l'intervention"
                    class="block text-sm font-medium text-gray-700"
                    >Précision de l'intervention</label
                  >
                  <input
                    type="text"
                    id="Précision de l'intervention"
                    name="Précision de l'intervention"
                    class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
                  />
                </div>
                <div class="mb-4">
                  <label
                    for="Statut de l'intervention"
                    class="block text-sm font-medium text-gray-700"
                    >Statut de l'intervention</label
                  >
                  <select
                    id="Statut de l'intervention"
                    name="Statut de l'intervention"
                    class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
                  >
                    <option value="En cours">En cours</option>
                    <option value="Complété">Complété</option>
                    <option value="À planifier">À planifier</option>
                    <option value="Annulé">Annulé</option>
                  </select>
                </div>
                <div class="mb-4">
                  <label
                    for="Date_de_l_intervention"
                    class="block text-sm font-medium text-gray-700"
                    >Date de l'intervention</label
                  >
                  <div class="relative">
                    <input
                      type="text"
                      id="Date_de_l_intervention"
                      name="Date_de_l_intervention"
                      placeholder="Sélectionner une date"
                      class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
                    />
                    <span
                      class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none"
                    >
                      <svg
                        class="h-5 w-5 text-gray-400"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M6 2a1 1 0 012 0v1h4V2a1 1 0 112 0v1h3a1 1 0 011 1v2a1 1 0 01-1 1H4a1 1 0 01-1-1V4a1 1 0 011-1h3V2zM4 8h12v9a1 1 0 01-1 1H5a1 1 0 01-1-1V8zm7 3a1 1 0 00-2 0v3a1 1 0 002 0v-3z"
                          clip-rule="evenodd"
                        />
                      </svg>
                    </span>
                  </div>
                </div>

                <div class="mb-4">
                  <label
                    for="Heure_de_l_intervention"
                    class="block text-sm font-medium text-gray-700"
                    >Heure de l'intervention</label
                  >
                  <div class="relative">
                    <input
                      type="text"
                      id="Heure_de_l_intervention"
                      name="Heure_de_l_intervention"
                      placeholder="Sélectionner une heure"
                      class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
                    />
                    <span
                      class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none"
                    >
                      <svg
                        class="h-5 w-5 text-gray-400"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          d="M10 2a8 8 0 100 16 8 8 0 000-16zM9 4a1 1 0 112 0v4h2a1 1 0 110 2h-4a1 1 0 01-1-1V4z"
                        />
                      </svg>
                    </span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <button
          type="button"
          class="white-black-border-animated inline-flex w-full justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm"
          onclick="addIntervention()"
        >
          Ajouter
        </button>
        <button
          type="button"
          class="mt-3 white-black-border-animated inline-flex w-full justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:w-auto sm:text-sm"
          onclick="closeAddInterventionModal()"
        >
          Annuler
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
